USE [master]
GO
/****** Object:  Database [ExamenWeb]    Script Date: 29/06/2024 14:14:47 ******/
CREATE DATABASE [ExamenWeb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ExamenWeb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ExamenWeb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ExamenWeb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ExamenWeb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ExamenWeb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ExamenWeb]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 29/06/2024 14:14:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[numb] [int] NOT NULL,
	[question] [nvarchar](255) NULL,
	[answer] [nvarchar](255) NULL,
	[option1] [nvarchar](255) NULL,
	[option2] [nvarchar](255) NULL,
	[option3] [nvarchar](255) NULL,
	[option4] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[numb] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
